In [8]:
import pandas as pd
import numpy as np

In [11]:
people = {
    'First':['Keshav','Rahul','Rajesh','kapil',np.nan, None,'NA'],
    'Last' :['Sharma','Sharma','Kushwaha','sharma',np.nan,np.nan,'Missing'],
    'Email':['Kesh4118@gmail.com','Rahul81.rs@gmail.com','Kush@gmail.com',None,np.nan,'Anonymous@email.com','NA'],
    'age' : ['33','55','63','36',None,None,'Missing']
}

In [31]:
df = pd.DataFrame(people)
df.replace('NA',np.nan,inplace=True)
df.replace('Missing',np.nan,inplace=True)

In [25]:
df

    First      Last                 Email   age
0  Keshav    Sharma    Kesh4118@gmail.com    33
1   Rahul    Sharma  Rahul81.rs@gmail.com    55
2  Rajesh  Kushwaha        Kush@gmail.com    63
3   kapil    sharma                  None    36
4     NaN       NaN                   NaN  None
5    None       NaN   Anonymous@email.com  None
6     NaN       NaN                   NaN   NaN

In [14]:
df.dropna()

    First      Last                 Email      age
0  Keshav    Sharma    Kesh4118@gmail.com       33
1   Rahul    Sharma  Rahul81.rs@gmail.com       55
2  Rajesh  Kushwaha        Kush@gmail.com       63
6      NA   Missing                    NA  Missing

In [26]:
df.dropna(axis='index',how='any')

    First      Last                 Email age
0  Keshav    Sharma    Kesh4118@gmail.com  33
1   Rahul    Sharma  Rahul81.rs@gmail.com  55
2  Rajesh  Kushwaha        Kush@gmail.com  63

In [27]:
df.dropna(axis='index',how='all')

    First      Last                 Email   age
0  Keshav    Sharma    Kesh4118@gmail.com    33
1   Rahul    Sharma  Rahul81.rs@gmail.com    55
2  Rajesh  Kushwaha        Kush@gmail.com    63
3   kapil    sharma                  None    36
5    None       NaN   Anonymous@email.com  None

In [28]:
df.dropna(axis='columns',how='any')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6]

In [29]:
df.dropna(axis='index',how='any',subset=['Email'])

    First      Last                 Email   age
0  Keshav    Sharma    Kesh4118@gmail.com    33
1   Rahul    Sharma  Rahul81.rs@gmail.com    55
2  Rajesh  Kushwaha        Kush@gmail.com    63
5    None       NaN   Anonymous@email.com  None

In [30]:
df.dropna(axis='index',how='all',subset=['Email'])

    First      Last                 Email   age
0  Keshav    Sharma    Kesh4118@gmail.com    33
1   Rahul    Sharma  Rahul81.rs@gmail.com    55
2  Rajesh  Kushwaha        Kush@gmail.com    63
5    None       NaN   Anonymous@email.com  None

In [32]:
df.isna()

   First   Last  Email    age
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False   True  False
4   True   True   True   True
5   True   True  False   True
6   True   True   True   True

In [33]:
df.fillna(0)

    First      Last                 Email age
0  Keshav    Sharma    Kesh4118@gmail.com  33
1   Rahul    Sharma  Rahul81.rs@gmail.com  55
2  Rajesh  Kushwaha        Kush@gmail.com  63
3   kapil    sharma                     0  36
4       0         0                     0   0
5       0         0   Anonymous@email.com   0
6       0         0                     0   0

In [34]:
df.fillna('MISSING')

     First      Last                 Email      age
0   Keshav    Sharma    Kesh4118@gmail.com       33
1    Rahul    Sharma  Rahul81.rs@gmail.com       55
2   Rajesh  Kushwaha        Kush@gmail.com       63
3    kapil    sharma               MISSING       36
4  MISSING   MISSING               MISSING  MISSING
5  MISSING   MISSING   Anonymous@email.com  MISSING
6  MISSING   MISSING               MISSING  MISSING

In [36]:
df.dtypes

First    object
Last     object
Email    object
age      object
dtype: object

In [39]:
df['age'].mean()

TypeError: can only concatenate str (not "int") to str

In [37]:
df['age']=df['age'].astype(int)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

In [40]:
type(np.nan)

float

In [41]:
df['age']=df['age'].astype(float)

In [43]:
df['age'].mean()

46.75