In [1]:
import pandas as pd

In [2]:
people = {
    'First':['Keshav','Rahul','Rajesh'],
    'Last' :['Sharma','Sharma','Kushwaha'],
    'Email':['Kesh4118@gmail.com','Rahul81.rs@gmail.com','Kush@gmail.com']
}

In [3]:
df = pd.DataFrame(people)

In [4]:
df

    First      Last                 Email
0  Keshav    Sharma    Kesh4118@gmail.com
1   Rahul    Sharma  Rahul81.rs@gmail.com
2  Rajesh  Kushwaha        Kush@gmail.com

In [5]:
df['Last'] == 'Sharma'

0     True
1     True
2    False
Name: Last, dtype: bool

In [6]:
filt = (df['Last'] == 'Sharma')

In [7]:
df[filt]

    First    Last                 Email
0  Keshav  Sharma    Kesh4118@gmail.com
1   Rahul  Sharma  Rahul81.rs@gmail.com

In [8]:
df[df['Last'] == 'Sharma']

    First    Last                 Email
0  Keshav  Sharma    Kesh4118@gmail.com
1   Rahul  Sharma  Rahul81.rs@gmail.com

In [9]:
df.loc[filt]

    First    Last                 Email
0  Keshav  Sharma    Kesh4118@gmail.com
1   Rahul  Sharma  Rahul81.rs@gmail.com

In [10]:
df.loc[df['Last'] == 'Sharma','Email']

0      Kesh4118@gmail.com
1    Rahul81.rs@gmail.com
Name: Email, dtype: object

In [11]:
df.loc[filt,'Email']

0      Kesh4118@gmail.com
1    Rahul81.rs@gmail.com
Name: Email, dtype: object

In [12]:
#              & - and
#              | - or
#              ~ - opposite of and , or

In [41]:
filt = (df['Last'] == 'Sharma') & (df['First'] =='rajesh')

In [42]:
df[filt]

    First    Last               Email
0  Keshav  Sharma  Kesh4118@gmail.com

In [38]:
filt = (df['Last'] == 'Kushwaha') | (df['First'] =='Keshav')

In [39]:
df[filt]

    First    Last                 Email
0  Keshav  Sharma    Kesh4118@gmail.com
1   Rahul  Sharma  Rahul81.rs@gmail.com

In [43]:
df[~filt]

    First      Last                 Email
1   Rahul    Sharma  Rahul81.rs@gmail.com
2  Rajesh  Kushwaha        Kush@gmail.com