In [1]:
import pandas as pd

In [15]:
people = {
    'First':['Keshav','Rahul','Rajesh','kapil'],
    'Last' :['Sharma','Sharma','Kushwaha','sharma'],
    'Email':['Kesh4118@gmail.com','Rahul81.rs@gmail.com','Kush@gmail.com','kapil@gmail.com']
}

In [16]:
df = pd.DataFrame(people)

In [17]:
df

    First      Last                 Email
0  Keshav    Sharma    Kesh4118@gmail.com
1   Rahul    Sharma  Rahul81.rs@gmail.com
2  Rajesh  Kushwaha        Kush@gmail.com
3   kapil    sharma       kapil@gmail.com

In [21]:
df.sort_values(by='Last')

    First      Last                 Email
2  Rajesh  Kushwaha        Kush@gmail.com
0  Keshav    Sharma    Kesh4118@gmail.com
1   Rahul    Sharma  Rahul81.rs@gmail.com
3   kapil    sharma       kapil@gmail.com

In [32]:
df.sort_values(by='Last',ascending=False,inplace=True)

In [33]:
df.sort_values(by=['Last','First'],ascending=[ False,True])

    First      Last                 Email
3   kapil    sharma       kapil@gmail.com
0  Keshav    Sharma    Kesh4118@gmail.com
1   Rahul    Sharma  Rahul81.rs@gmail.com
2  Rajesh  Kushwaha        Kush@gmail.com

In [34]:
df.sort_index()

    First      Last                 Email
0  Keshav    Sharma    Kesh4118@gmail.com
1   Rahul    Sharma  Rahul81.rs@gmail.com
2  Rajesh  Kushwaha        Kush@gmail.com
3   kapil    sharma       kapil@gmail.com

In [35]:
df['Email'].sort_values()

0      Kesh4118@gmail.com
2          Kush@gmail.com
1    Rahul81.rs@gmail.com
3         kapil@gmail.com
Name: Email, dtype: object