In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data/ETH_1h.csv")

In [6]:
df.shape

(23674, 7)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23674 entries, 0 to 23673
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    23674 non-null  object
 1   Symbol  23674 non-null  object
 2   Open    23674 non-null  float64
 3   High    23674 non-null  float64
 4   Low     23674 non-null  float64
 5   Close   23674 non-null  float64
 6   Volume  23674 non-null  float64
dtypes: float64(5), object(2)
memory usage: 1.1+ MB

In [10]:
pd.set_option("display.max_columns",7)

In [12]:
df.head()

               Date  Symbol    Open    High     Low   Close      Volume
0  2020-03-13 08-PM  ETHUSD  129.94  131.82  126.87  128.71  1940673.93
1  2020-03-13 07-PM  ETHUSD  119.51  132.02  117.10  129.94  7579741.09
2  2020-03-13 06-PM  ETHUSD  124.47  124.85  115.50  119.51  4898735.81
3  2020-03-13 05-PM  ETHUSD  124.08  127.42  121.63  124.47  2753450.92
4  2020-03-13 04-PM  ETHUSD  124.85  129.51  120.17  124.08  4461424.71

In [29]:
df.loc[0,'Date'].day_name()

'Friday'

In [19]:
df['Date'] = pd.to_datetime(df['Date'],format= '%Y-%m-%d %I-%p')

In [21]:
df['Date']

0       2020-03-13 20:00:00
1       2020-03-13 19:00:00
2       2020-03-13 18:00:00
3       2020-03-13 17:00:00
4       2020-03-13 16:00:00
                ...
23669   2017-07-01 15:00:00
23670   2017-07-01 14:00:00
23671   2017-07-01 13:00:00
23672   2017-07-01 12:00:00
23673   2017-07-01 11:00:00
Name: Date, Length: 23674, dtype: datetime64[ns]

In [27]:
df.loc[ 0,'Date'].day_name()

'Friday'

In [31]:
df['Date'].dt.day_name()

0          Friday
1          Friday
2          Friday
3          Friday
4          Friday
           ...
23669    Saturday
23670    Saturday
23671    Saturday
23672    Saturday
23673    Saturday
Name: Date, Length: 23674, dtype: object

In [32]:
df["DayOfTheWeek"] = df['Date'].dt.day_name()

In [33]:
df

,Date,Symbol,Open,...,Close,Volume,DayOfTheWeek
0,2020-03-13 20:00:00,ETHUSD,129.94,...,128.71,1940673.93,Friday
1,2020-03-13 19:00:00,ETHUSD,119.51,...,129.94,7579741.09,Friday
2,2020-03-13 18:00:00,ETHUSD,124.47,...,119.51,4898735.81,Friday
3,2020-03-13 17:00:00,ETHUSD,124.08,...,124.47,2753450.92,Friday
4,2020-03-13 16:00:00,ETHUSD,124.85,...,124.08,4461424.71,Friday
...,...,...,...,...,...,...,...
23669,2017-07-01 15:00:00,ETHUSD,265.74,...,272.57,1500282.55,Saturday
23670,2017-07-01 14:00:00,ETHUSD,268.79,...,265.74,1702536.85,Saturday
23671,2017-07-01 13:00:00,ETHUSD,274.83,...,268.79,3010787.99,Saturday
23672,2017-07-01 12:00:00,ETHUSD,275.01,...,274.83,824362.87,Saturday
23673,2017-07-01 11:00:00,ETHUSD,279.98,...,275.01,679358.87,Saturday

In [ ]:
|